<template>
  <form>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--8-col">
        <div class="card-image__picture">
          <img :src="this.catUrl"/>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded is-dirty">
          <input id="username" v-model="title" type="text" class="mdl-textfield__input"/>
          <label for="username" class="mdl-textfield__label">Your opinion</label>
        </div>
        <div class="actions">
          <a @click.prevent="postCat" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            POST A PHOTOS
          </a>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
  export default {
    name: 'PostView',
    data () {
      return {
        'catUrl': null,
        title: ''
      }
    },
    mounted () {
      this.$http.get('https://dog.ceo/api/breeds/image/random').then(response => {
        this.catUrl = response.body.message
      })
    },
    methods: {
      postCat () {
        this.$root.$firebaseRefs.cat.push(
          {
            'url': this.catUrl,
            'comment': this.title,
            'info': 'Posted by Dat on Monday',
            'created_at': -1 * new Date().getTime()
          })
          .then(this.$router.push('/'))
      }
    }
  }
</script>

<style scoped>
  .card-image__picture img{
    max-width: 100%;
    max-height: 700px;
    height: auto;
  }
  @media (max-width: 500px) {
    .card-image__picture img{
      width: 100%;
      max-height: 400px;
      height: auto;
    }
  }
</style>
